.function-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.function-btn__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.function-btn__column i {
  font-size: 30px;
  cursor: pointer;
}

.function-btn__column h5 {
  padding-top: 10px;
  font-size: 12px;
}

#user-plus {
  padding: 10px;
  color: black;
  background-color: #e2e4e5;
}

#recom-friend {
  font-size: 12px;
  color: #9aa0a8;
}
